<%- title "Login" -%>
<h1><%= yield :title %></h1>

<% unless admin? %>
  <% form_tag sessions_path, :class => "login-form" do %>
  	<label for="password">Password</label>
  	<%= password_field_tag :password, "", options = { :tabindex => "1", :class => "text" } %>
  <% end %>
<% else %>
  <%= content_tag :p, "You are already logged in." %>
<% end %>