/*_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
Paper Trail stylesheet
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/

/* Cleanup
------------------------------*/
body { margin: 0; padding: 0; font-family: Helvetica, Arial, sans-serif; font-size: 81%; line-height: 1.5; color: #ccc; background: #1a1a1a; }
.clear:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* { margin: 0; padding: 0; }

/* Elements
------------------------------*/
p { margin: 0 0 0.6em 0; }
	code { font-family: Courier, monospace; color: #bf4f13; }
blockquote { padding: 0 2em; color: #999; }
img { border: none; color: #bf4f13; }

/* Structure
------------------------------*/
#wrapper { max-width: 44em; margin: 0 auto; }
	#wrapper > * { margin-left: 2em; margin-right: 2em; }
	#header {}
		#nav { margin: 0 0 1.5em 0; }
	#content {}
	#footer { margin-bottom: 5em; }

.primary { clear: left; float: left; }
.secondary { clear: right; float: right; }
.block { display: block; clear: both; }
.wide { width: 99%; }
.narrow { width: 48%; }

/* Headers
------------------------------*/
h1, h2, h3, h4 { margin: 0 0 0.2em 0; padding: 0; font-weight: normal; }
h1 { font-size: 2em; }
h2 { font-size: 1.5em; color: #999; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.17em; }

/* Links
------------------------------*/
a {}
a:link, a:visited, a:active { color: #d93600; text-decoration: none; }
a:hover { color: #d93600; text-decoration: underline; }

/* Entries
------------------------------*/
.book h1, .book h2.title, .author h1, .author h2.title { margin: 0; }
.book, .author .content { margin-bottom: 1.5em; }

	.book .about { margin: 0 0 0.8em 0; color: #666; }
	.book img { border: 1px solid #b3b3b3; }
	.book a img { border: 1px solid #333; }
	.book a:hover img, .covers a:hover img { border: 1px solid #d93600; }
	
	ul.booklist { margin: 0.5em 0 1em 0; list-style: none; }
		ul.booklist li { margin: 0 0 0.3em 0; background: url('/images/dot.gif') repeat-x 0 0; padding: 0.5em 0 0 2em; font-size: 1.17em; }
	
	.covers a img { margin: 0 1em 1em 0; border: 1px solid #333; padding:9px; background: #202426; }

.button { display: block; float: right; border-width: 0; border-style: solid; padding: 0.3em 0.6em; -webkit-border-radius: 0.3em; -moz-border-radius: 0.3em; border-radius: 0.3em; font-size: 1em; cursor: pointer; }
.edit.button:link, .edit.button:visited, .edit.button:active { color: #303b40; border-width: 0.2em; border-color: #293033; padding: 0.1em 0.3em 0; font-size: 0.8em; text-transform: uppercase; }
.edit.button:hover { color: #fff; border-color: #fff; text-decoration: none; }
.save.button { float: left; background: #293033; color: #8a9499; }
.save.button:hover, .cancel.button:hover { background: #a62900; color: #ccc; }
.delete.button, .cancel.button { background: #212526; color: #303b40; }
.delete.button:hover { background: #a60e00; color: #ccc; }

.page-turner { margin: 2em 0 1em 0; border-width: 0; border-style: solid; padding: 0.3em 0.6em; -webkit-border-radius: 0.3em; -moz-border-radius: 0.3em; border-radius: 0.3em; background: #1d1e1f; }
.page-turner .prev_page, .next_page { display: block; padding: 0.2em; }
.page-turner .prev_page { float: left; padding-left: 1.5em; }
.page-turner .next_page { float: right; padding-right: 1.5em; }
.page-turner .disabled { color: #666; }

/* Notices
------------------------------*/
.error, .notice, .alert { margin: 1em -1em 2em -1em; padding: 0.5em 1em; color: #fff; }
.error, .alert { background: #af290f; }
.notice { background: #4d9f1b; }

/* Forms
------------------------------*/
label { margin: 0 0 0.2em 0; display:block; }
input, textarea { outline: none; }
.text { border: 1px solid #333; padding: 1px; line-height: 1.5; color: #ccc; background: #1a1a1a; }
.text:focus { border: 1px solid #d93600; color: #fff; background: #000; }
label, select.block, textarea, input.text { width: 98%;}
.wide label, .wide select.block, .wide textarea, .wide input.text { width: 100%;}
.large .text {font-size:1.5em;}
#submit, #delete { margin: 1em 0; }

.login-form, .book-form, .author-form { margin-bottom: 1em; }

	.login-form label { margin: 0 1em 0 0; color: #404040; }
	.login-form input { width: 48%; }
	
	.book-form, .author-form { border-width:0.1em; border-style:solid; border-color:#262729 #171717 #171717 #262729; -webkit-border-radius:0.3em; padding: 1em; background: #1d1e1f; }
	
	.book-form .section, .author-form .section { margin: 0 0 1em 0; }
	select.datetime { display: inline; }

/* Form errors
------------------------------*/
.errors { margin: 0 0 1em 0; }
.errors h2 { font-size: 14px; color: #af290f; }
.errors ul {}
	.errors li {}
.fieldWithErrors input { border: 1px solid #ff0000; }

/* Header
------------------------------*/
#header { background: url('/images/header-background.png') repeat-x 34px 0; }
	#title { margin: 0 0 10px 0; }
		#title, #title a { display: block; height: 130px; text-indent: -9999em; text-decoration: none; background: url('/images/header.png') no-repeat 0 -130px; }
		#title a:hover { background-position: 0 0; }

/* Nav
------------------------------*/
ul#nav { list-style: none; }
	ul#nav li { display: inline; margin: 0 1.5em 0 0; }
		ul#nav li a { color: #303b40; }
		ul#nav li a.current { color: #293033; }
		ul#nav li a:hover, ul#nav li a.current:hover { color: #fff; }

/* Footer
------------------------------*/
#footer { color: #666; }
