<h1><%= @title %></h1>

<% content_tag :div, :class => "author-form clear" do %>
    <%= render "form" %>
    <%= button_to "Delete", {:action => "destroy"}, {:method => "delete", :class => "delete button"} if @author.books.blank? %>
<% end %>
