<div class="editable author">
    <div class="content">
        <%= edit_link(@author) %>
        
        <h1 class="title"><%= @author.name %></h1>
        
        <%= content_tag :div, smartdown(@author.note), :class => "note" unless @author.note.blank? %>
        
        <% unless @author.books.blank? %>
        <h2>Books by this author</h2>
            <ul class="booklist">
            <% for book in @author.books %>
                <li><%= book_page_link(book) %></li>
            <% end %>
            </ul>
        <% else %>
            <p>There aren&#8217;t any books by this author in the database.</p>
        <% end %>
    </div>
</div>
