<%- title "Edit book" -%>
<h1><%= yield :title %></h1>

<% content_tag :div, :class => "book-form" do %>
	<%= render :partial => "form" %>
	<%= button_to 'Delete book', {:action => 'destroy'}, :method => 'delete' %>
<% end %>
