<%- title "Edit book" -%>
<h1><%= yield :title %></h1>

<% content_tag :div, :class => "book-form clear" do %>
	<%= render "form" %>
	<%= button_to "Delete", {:action => "destroy"}, {:method => "delete", :class => "delete button"} %>
<% end %>
